# R / RStudio
.Rproj.user
.Rhistory
.RData
.Ruserdata
.httr-oauth
.DS_Store
.quarto

# Build / devtools
.Rbuildignore
.Rcheck/

# Binary files
*.o
*.so
*.dll
*.zip
*.tar.gz

# Office / temp files
*.xls*
*.doc*
*.ppt*
*.dta
*.ods
*.log
*.out
*.tex

autom4te.cache
config.log
config.status
