# export all identifiers starting with letters
exportPattern("^[[:alpha:]]+")

S3method(print, catalog)
S3method(plot, catalog)
S3method(print, etas)
S3method(plot, etas)

useDynLib(ETAS, .registration=TRUE)

importFrom("graphics", "abline", "axis", "dotchart", "layout", "par",
           "plot", "points", "polygon", "mtext", "title", "lines", "rug")
importFrom("stats", "density", "lm", "plot.ts", "runif", "punif",
           "ks.test", "quantile", "rpois")
importFrom("utils", "installed.packages", "download.file", "read.table")
importFrom("lattice", "xyplot")
importFrom("maps", "map")

importFrom("Rcpp", "evalCpp")
import("spatstat.explore")
import("spatstat.geom")
importFrom("spatstat.random", "rpoint")
