exportPattern("^[[:alpha:]]+")

S3method(print, catalog)
S3method(plot, catalog)
S3method(print, etas)
S3method(plot, etas)

useDynLib(ETAS)

importFrom("graphics", "abline", "axis", "dotchart", "layout", "par",
           "plot", "points", "polygon", "mtext", "title")
importFrom("stats", "density", "lm", "plot.ts", "runif")
importFrom("utils", "installed.packages")
importFrom("lattice", "xyplot")
importFrom("maps", "map")

importFrom("Rcpp", "evalCpp")
